@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.desc {
    font-family: 'Poppins', sans-serif;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgba(0, 99, 178, 1);
}
