@import url('https://fonts.googleapis.com/css?family=Poppins');

.sections {
    display: flex;
    align-items: center;
    gap: 10vh;
}

.Logo {
    height: 100px;
}

.Home a, .Album a, .Project a {
    color: rgba(0, 99, 178, 1);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.Home a::after, .Album a::after, .Project a::after {
    content: "";
    display: block;
    height: 2px;
    width: 50%;
    background: rgba(0, 99, 178, 1);
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    transform-origin: left;
    position: relative;
    bottom: 15px; 
}

.Home a:hover::after, .Album a:hover::after, .Project a:hover::after,
.Home.active a::after, .Album.active a::after, .Project.active a::after {
    transform: scaleX(1.3);
    transform-origin: left;
}

.instagram {
    height: 35px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
}

.instagram:hover {
    transform: scale(1.2);
}


.discord {
    height: 35px;
    cursor: pointer;
    transition: transform 0.15s ease-in-out; 
}

.discord:hover {
    transform: scale(1.2); 
}

.Home, .Album, .Project {
    list-style: none;
    transition: transform 0.15s ease-in-out; 
}

.Home:hover, .Album:hover, .Project:hover {
    transform: scale(1.2); 
}

.links {
    display: flex;
    gap: 10vh;
}

.button {
    font-family: 'Poppins', sans-serif;
}