.btn {
  background-color: "#0063B2";
  border-radius: 20px;
  min-width: 480px;
  min-height: 64px;
  color: white;
  padding-top: 25%;
  padding-bottom: 25%;
  padding-left: 8.3%;
  padding-right: 8.3%;
}

.btn:hover {
  background-color: "#3382C2";
}
